/*Alguns estilos eu peguei do site UIverse.io*/
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #9e8f8f;
}

.container {
    width: 75%;
    text-align: center;
    background-color: #cac6c6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.enunciado {
    width: 50%;
    margin: 0 auto 20px;
    text-align: center;
    color: #333;
    font-size: 18px;
}

.txtEnunciado {
    text-align: center;
    color: #444;
}

.item {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.inp {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 2px solid #b6acac;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    max-width: 180px;
    width: 100%;
    text-align: center;
}

.inp:focus {
    color: #333;
    background-color: #fff;
    outline-color: #b6acac;
    box-shadow: 0 0 5px #b6acac;
    transition: .1s;
}

.btnEnviar, .btnVoltar {
    display: inline-block;
    margin: 30px 10px 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnEnviar:hover, .btnVoltar:hover {
    background-color: #444;
}

.saidaDados {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}